.top-menu{
	background-color: yellow;
}

.language-icons{
	background-color: orange;
}

.social-media-icons{
	background-color: pink;
}

.main-menu{
	background-color: blue;
}

.slide{
	background-color: green;
}

.categories{
	background-color: lightblue;
}

.posts{
	background-color: grey;
}

.sidebar{
	background-color: lightgrey;
}

.instagram-image{
	background-color: yellow;
}

.footer-menu{
	background-color: orange;
}

.copyright{
	background-color: pink;
}



section.logo{
	margin-bottom: 0;
}